Plugins/Delta Speed Up.7z
Plugins/Delta Speed Up/_Main_Script.rb
Plugins/Delta Speed Up/meta.txt

Data/PluginScripts.rxdata
Plugins/Auto Multi Save/Auto Multi Save.rb
/Plugins/Debug hotkeys
Game.exe debug.lnk
